body {
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
}

.journey,.experience,.logs {
    text-align: center;
}

.learning{
    padding: 1em;
    margin: 1.25em;
    text-align: center;
}

.version{
    padding-top: 1em;
    font-size: 14px;
}

.manny{
    font-size: 14px;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.progress{
    text-align: center;
}

hr{
    margin-top: 20em;
}