* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.logo {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-tea-cozy-logo.png");
  height: 69px;
  position: relative;
  padding-top: 2px;
  margin-left: 10px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: 150px;
}

.title a {
  display: flex;
  justify-content: flex-start;
}

.main-heading {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 25px;
}

.tea-heading {
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: center;
}

.img-class img {
  height: 200px;
  width: 300px;
}

.img-class2 img {
  height: 200px;
  width: 300px;
}

.teacozy,
.email,
.phone {
  text-align: center;
  margin-top: 20px;
}

.copyright {
  padding-left: 20px;
}

.locations-container {
  display: grid;
  grid-template-columns: (4, 1fr);
  gap: 40px;
  grid-auto-rows: minmax(40px);
}

.locations1 {
  grid-column: 2/4;
  grid-row: 1;
}

.locations2 {
  grid-column: 2/4;
  grid-row: 1;
}

.locations3 {
  grid-column: 3/4;
  grid-row: 1;
}
