body {
  margin: 0;
}

body form {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

input {
  font-weight: 300;
  width: 100%;
  font-size: 25px;
  border: 0;
  color: #4b545f;
  font-family: Helvetica Neue, Helvetica, Sans-serif;
  margin: 5%;
}

button {
  border: 2px solid #ddd;
  padding: 3%;
  margin: 5%;
  width: 50%;
}
